* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  text-align: center;
  min-height: 100vh;
  margin: 0;
  background: linear-gradient(to bottom right, #a646c4, #57b37d, #29b0b9);
  animation: degrade 5s infinite alternate;
  background-size: 500% 100%;
  background-attachment: fixed;
  padding: 40px;
}
@keyframes degrade {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
nav.navbar-transparente {
  padding: 5px 0px;
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.7)
  );
}
#logo {
  font-family: "Train One", system-ui;
  color: #ffffff;
  padding: 15px;
  font-size: 44px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}
.container .navbar-toggler {
  color: rgba(253, 253, 253, 0.897);
  border-color: rgba(255, 255, 255, 0.541);
  transition: background 0.4s, color 0.4s;
  &:hover {
    color: rgba(235, 173, 220, 0.438);
    border-color: rgba(231, 228, 228, 0.438);
    transition: background 0.4s, color 0.4s;
  }
}
.divisor {
  width: 1px;
  background: #fff;
  margin: 12px 15px;
}
.nav-link {
  color: #fff;
  margin-right: 15px;
  font-size: 18px;
  transition: color 0.3s;
  &:hover {
    color: #68c25d;
  }
}
#main {
  margin-top: 60px;
}
.title {
  font-size: 58px;
  font-weight: bold;
  font-style: italic;
  color: #ffffff;
  text-shadow: 2px 2px 4px #000000;
}
.box {
  background: rgba(255, 255, 255, 0.164);
  border-radius: 8px;
  box-shadow: 0 5px 15px rgb(0, 0, 0);
  padding: 20px;
  margin: 20px auto;
  max-width: 80%;
}

.box p {
  font-size: 36px;
}

#sortear {
  padding: 32px 50px;
  font-size: 24px;
  border: none;
  border-radius: 45px 45px 0 45px;
  background: #4caf50;
  color: white;
  cursor: pointer;
  margin-top: 20px;
  transition: background 0.3s;
  &:hover {
    background: #1a9a21;
  }
}

#resultado {
  margin-top: 30px;
  font-size: 35px;
  font-weight: bold;
  color: #222;
  display: flex;
  justify-content: center;
}
.sorteado {
  background: rgba(255, 255, 255, 0.164);
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(226, 14, 14, 0.2);
  padding: 20px;
  margin: 50px auto;
  max-width: 80%;
}
#footer {
  color: white;
  text-align: center;
  background: linear-gradient(to right, #29b0b9, #a646c4);
  background-size: 500% 100%;
  animation: degradeFooter 10s infinite alternate;
  padding: 30px 20px;
  border-radius: 12px;
  margin: 0 auto;
}
#footer p {
  margin: 5px 0;
  font-size: 16px;
}
@keyframes degradeFooter {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@media (max-width: 600px) {
  .title {
    font-size: 48px;
  }

 .box {
    max-width: 100%;
    padding: 10px;
  }
  
  .box p {
    line-height: 1.2;
    font-size: 22px;
  }
}

@media (min-width: 600.33px) and (max-width: 989.33px) {
  .box {
    max-width: 100%;
    padding: 5px;
  }

  .box p {
    line-height: 1.3;
    font-size: 30px;
  }
}

@media (min-width: 990px) and (max-width: 1199.98px) {
  .box {
    max-width: 100%;
    line-height: 1.3;
  }
}
